<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="login.component.css">
    <title>GreenWay</title>
</head>

<body>

    <div class="container">
        <div class="signup-section">
            <header>GreenWay</header>

            <div class="social-buttons">
                <button (click)="loginGoogle()"><i class='bx bxl-google'></i> Usa Google</button>
            </div>

            <div class="separator">
                <div class="line"></div>
                <p>Or</p>
                <div class="line"></div>
            </div>

            <form [formGroup]="formularioIngreso" (ngSubmit)="submit()">
            <div class="form-floating mb-3">
                <input type="email" [class.is-danger]="formularioIngreso.get('email')" class="form-control" formControlName="email" id="floatingInput" #email placeholder="Ingrese su Correo" required>
                <a *ngIf="this.formularioIngreso.get('email')?.errors?.['required']">
                    (El correo no puede quedar vacío)
                </a>
                <a *ngIf="this.formularioIngreso.get('email')?.errors?.['email']">
                    (El correo no es correcto)
                </a>
                <label for="floatingInput">Correo</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" formControlName="password" id="floatingPassword" #password placeholder="Ingrese su contraseña"> 
                <a *ngIf="this.formularioIngreso.get('password')?.errors?.['required']">
                    (la contraseña no puede quedar vacía)
                </a>
                <label for="floatingPassword">Contraseña</label>
              </div>
                <a href="#">Olvidaste tu contraseña?</a>

                <ngx-recaptcha2 [siteKey]="siteKey"></ngx-recaptcha2>

                <button class="btn btn-light" type="submit" (click)="login(email.value,password.value)">Login</button>
                <a type="submit" class="btn btn-danger" routerLink="/registro">Registro</a>

            </form>

        </div>

    </div>


</body>

</html>