<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../../assets/images/greenway.png" alt="GreenWay">
      </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rutas">Rutas</a>
        </li>     
      </ul>
    </div>
  
    <a class="navbar-brand" class="btn btn-danger" href="#" (click)="cerrarSession()">Cerrar Sesión</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>

<body>
  
  <div class="textos presentacion">
      
      <h1 class="titulosTexto">Misión</h1>
      <p class="card-text" style="padding-left: 60px;" class="textoabajo">Nuestra misión es mejorar la calidad de vida de la comunidad al garantizar un entorno limpio y saludable mediante la optimización de la recolección de residuos. Promoviendo la gestión eficiente de residuos en el municipio de Tabio, Cundinamarca, a través de una aplicación innovadora que conecta a los residentes con servicios de recolección de basura confiables y sostenibles.</p>
      
      <h1 class="titulosTexto">Visión</h1>
      <p class="card-text" class="textoabajo">Ser la plataforma líder en recolección de basura en Tabio, Cundinamarca, reconocida por su impacto positivo en el medio ambiente y en la comunidad. En conjunto con el municipio Facilitando prácticas de disposición adecuada de residuos y promoviendo la educación sobre la importancia de la gestión de residuos.</p>
      
  </div>

  <div class="CardsPage">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="../../../assets/images/reciclaje.png" style="width: 40rem;" class="card-img-top" alt="Recursos">
          <div class="card-body">
            <h5 class="card-title">Lideres en recolección de basuras</h5>
            <p class="card-text">La alcaldía municipal de tabio cundinamarca les complace informar el exitoso logro de recolección de basura y reciclaje en el municipio</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/images/ecoo.jpg" class="card-img-top" style="width: 42rem;" alt="amistad">
          <div class="card-body">
            <h5 class="card-title">Botánica taxonómica</h5>
            <p class="card-text">No te pierdas esta increíble oportunidad de aprender sobre botánica taxonómica con el Magíster Roberto Dávila Vilamizar
              Como parte de nuestros esfuerzos por promover el conocimiento ambiental, te invitamos a nuestra charla el próximo 13 de abril en el Jardín Botánico a partir de las 10:30 a.m. Seguimos construyendo conciencia ambiental. ¡Te esperamos para explorar el fascinante mundo de la botánica juntos!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/images/eco.jpg" class="card-img-top" style="width: 42rem;" alt="placaje">
          <div class="card-body">
            <h5 class="card-title">Gestion de Alcaldias</h5>
            <p class="card-text">La Alcaldía Municipal de Tabio, en colaboración con las Alcaldías de Subachoque y Tenjo, se unen para abordar la problemática de las torres de energía en nuestras zonas veredales. Recientemente participamos en una reunión en Madrid con la Secretaria de Medio Ambiente y Asuntos Agropecuarios, donde escuchamos a nuestra comunidad.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/images/img2.jpg" class="card-img-top" style="width: 40rem;" alt="residuo">
          <div class="card-body">
            <h5 class="card-title">Comunidad de agricultores</h5>
            <p class="card-text">La Alcaldía Municipal de Tabio, a través de la Secretaría de Ambiente y Asuntos Agropecuarios, da a conocer a la comunidad de agricultores la importancia de la implementación del triple lavado en la disposición de residuos agroquímicos.
              De esta manera, se evita la contaminación ambiental, principalmente en las fuentes hídricas.
              </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</body>

<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="http://www.tabio-cundinamarca.gov.co/" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tabio</font></font></a></li>
    <li class="nav-item"><a href="https://www.ucundinamarca.edu.co/" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">U. Cundinamarca</font></font></a></li>
    <li class="nav-item"><a routerLink="Home" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Linea #</font></font></a></li>
    <li class="nav-item"><a href="https://www.jimdo.com/es/blog/preguntas-frecuentes-en-pagina-web/" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Preguntas frecuentes</font></font></a></li>
  </ul>
  <p class="text-center text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2024 GreenWay Inc.</font></font></p>
</footer>


