<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="registro.component.css">
    <title>GreenWay</title>
</head>

<body>

    <div class="container">
        <div class="signup-section">
            <header>Registro</header>

            <div class="separator">
                <div class="line"></div>
                <p>Con</p>
                <div class="line"></div>
            </div>

            <form [formGroup]="registroForm" (ngSubmit)="submit()">
            <div class="form-floating mb-3">
                <input type="email"  class="form-control" formControlName="email" id="floatingInput" #email placeholder="Ingrese su Correo" required>
                <a *ngIf="this.registroForm.get('email')?.errors?.['required']">
                  (El correo no puede quedar vacío)
              </a>
              <a *ngIf="this.registroForm.get('email')?.errors?.['email']">
                  (El correo no es correcto)
              </a>
                <label for="floatingInput">Correo</label>
              </div>
              <div class="form-floating">
                <input type="password"  class="form-control" formControlName="password" id="floatingPassword" #password placeholder="Ingrese su contraseña">
                <a *ngIf="this.registroForm.get('password')?.errors?.['required']">
                  (El correo no puede quedar vacío)
              </a>
              <a *ngIf="this.registroForm.get('password')?.errors?.['pattern']">
                  (la contraseña no es correcta)
                  Minimo 8 caracteres
                  Maximo 16
                  Al menos una letra mayúscula
                  Al menos una letra minucula
              </a>
                <label for="floatingPassword">Contraseña</label>
              </div>
              <p class="text-sm font-light text-gray-950 dark:text-gray-950">
                ya tienes una cuenta?
                <a routerLink="/login">Logueate</a>
              </p>
              <ngx-recaptcha2 [siteKey]="siteKey"></ngx-recaptcha2>
                <button type="submit" class="btn btn-light" (click)="registrar(email.value, password.value)">Registro</button>
            </form>

        </div>

    </div>


</body>

</html>